.header {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 999;
  background-color: #4285f4;
}
.header-title {
  display: inline-block;
  font-size: 36px;
  color: #ffffff;
}
@media all and (max-width: 480px) {
  .header-title {
    font-size: 24px;
  }
}
.header-nav {
  float: right;
  margin-top: 8px;
}
@media all and (max-width: 480px) {
  .header-nav {
    margin-top: 5px;
  }
}
.header-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav__item {
  display: inline-block;
  font-size: 24px;
  color: #f8f8f8;
  cursor: pointer;
}
@media all and (max-width: 480px) {
  .header-nav__item {
    font-size: 18px;
  }
}
.header-nav__item:hover {
  text-decoration: underline;
}
.header-nav__item + .header-nav__item {
  margin-left: 20px;
}
@media all and (max-width: 480px) {
  .header-nav__item + .header-nav__item {
    margin-left: 10px;
  }
}
